* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 674px;
    width: 502px;
    background-color: ;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}

.cardimg {
    height: 318px;
    width: 100%;
    background-image: url("./Images/indianguy.png");
}

.cardtype h2 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #3b3f5c;
    line-height: 52px;
}

.cardtype span {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #a2a4b2;
    margin-top: 8px;
}

.cardtype {
    padding: 24px 32px 24px 32px;
}

.cardtype p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #62657d;
    margin-top: 24px;
    line-height: 34px;
}

.cardtype button {
    background-color: #5d5fef;
    width: 100%;
    height: 70px;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    margin-top: 24px;
}

body {
    background-color: #e5e5e5;
}